:root {
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);

  font-family: "Poppins", sans-serif;

}

body {
  background-color: #fafbfc;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 30%;
  color: var(--color-grey-400);
}

h1 {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 0;
  color: var(--color-grey-400);
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 0;
  color: var(--color-grey-500);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em;
  
}

section {
  background-color: var(--color-white);
  height: 200px;
  width:300px;
  padding: 1.2em;
  border-radius: 1em;
  color: var(--color-grey-400);
  box-shadow: 10px 10px 10px 0 #eef2f6;
  border-radius: 8px;
  overflow: hidden;
  margin: 2em;
  position: relative;
 
}

h3 {
  font-weight: 500;
  color: var(--color-grey-500);  
}
.teambuilder-karma {
  background-color: #fafbfc;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  
}

.team-builder {
 border-top: solid 5px;
 border-color: red;

}

.supervisor {
 border-top: solid 5px;
 border-color: turquoise;
}

.karma {
 border-top: solid 5px;
 border-color: orange;
}

.calculator {
 border-top: solid 5px;
 border-color: dodgerblue;
}


img {
position: absolute; 
bottom: 1.8rem;  
right: 1.8rem; 
width: 60px;
height: auto;
}

footer {
  margin: 6%;
  text-align: center;
}


@media screen and (max-width: 920px) {
  main {
    flex-direction: column;
    max-width: 350px; 
  }

  section {
     flex-direction: column;
  }

  header {
    width: 90%;
  }

  h1 {
  font-size: 1.8em;
 
}

h2 {

  font-size: 1.8em;
}



}